@import "styles/app.scss";

.newsletter {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;

  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(18px) brightness(100% - 14%);
}

.showNewsletter {
  opacity: 1;
  z-index: 200;

  @include animation("fadeInTop .3s");
}

.hideNewsletter {
  opacity: 0;
  z-index: -1;

  @include animation("fadeOutDown .3s");
}

.btnClose {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: unset;
  width: 25px;
  height: 25px; 
  transition: .3s;
  cursor: pointer;

  @include home-breakpoint("md") {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:active {
    transform: scale(.95);
  }

  & path {
    fill: $color-white;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px 20px;

  @include home-breakpoint(md) {
    padding: 27px;
  }
}

.message {
  width: 100%;
  white-space: pre-wrap;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: $font-primary;

  @include font-sizing(12px, 400, 12px, 25);
}

.messageError {
  color: $color-primary;
}

.content > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include home-breakpoint("xs") {
    align-items: flex-start;
    
    input,
    button {
      margin-top: 15px;
    }

    h2 {
      color: $color-white;
      font-family: $font-secondary;
      text-transform: uppercase;
  
      @include font-sizing(12px, 900, 12px, 25);
    }
  
    input {
      font-family: $font-primary;
      font-size: 12px;
      line-height: 12px;
      padding: 10px 5px;
      text-align: center;
      border: unset;
      border-radius: 12px;
      outline: unset;
      width: 100%;
    }
  
    button {
      padding: 10px 40px;
      border-radius: 12px;
      width: 100%;
    }
  }

  @include home-breakpoint("md") {
    width: 70%;
    flex-direction: row;
    align-items: center;

    h2 {
      font-weight: 800; // extra-bold
      font-size: 15px;
      line-height: 15px;
      text-align: right;
      width: 25%;
      margin-top: 0;
    }

    input {
      padding: 7px 5px;
      width: 50%;
      margin-top: 0;
      margin: 0 10px;
    }
  
    button {
      padding: 7px 40px;
      width: 25%;
      margin-top: 0;
      margin: 0;
    }
  }

  @include home-breakpoint("lg") {
    margin-bottom: 0;

    h2 {
      font-size: 25px;
      line-height: 25px;
    }
  }
}